.LogIn {
  .LogIn__container {
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        border: 2px solid var(--main-color);
        outline: none;
        font-size: 20px;
        padding: 10px;
      }
    }
  }
}
