.Services {
  .Services__Service {
    border: 2px solid var(--main-color);
    transition: 0.3s;

    &:hover {
      background-color: var(--main-color);

      h1,
      p,
      path {
        color: white;
      }
    }

    h1 {
      color: var(--main-color);
    }
  }

  .Services__Service-icon {
    font-size: 100px;
    path {
      color: var(--main-text-color);
    }
  }
}
