.Product {
  .Product__img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: lightgrey;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
    }

    .Product__actions {
      position: absolute;
      top: 50%;
      right: -100%;
      transform: translateY(-50%);
      transition: 0.3s;
    }

    .Product__icon {
      display: block;
      width: 60px;
      height: 60px;
      border: 1px solid white;
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;

      path,
      svg {
        transition: 0.3s;
        font-size: 30px;
        color: white;
      }

      &:hover,
      &.active {
        background-color: white;

        path {
          color: var(--main-color);
        }
      }
    }
  }

  .Product__title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0;
    cursor: pointer;
  }

  .Product__price {
    color: var(--main-color);
    font-size: 24px;
    font-weight: bold;
  }

  &:hover {
    .Product__img-back {
      opacity: 1;
      gap: 20px;
    }

    .Product__actions {
      right: 10px;
    }

    .Product__img img {
      transform: scale(1.2) rotate(5deg);
      filter: brightness(0.5);
    }
  }
}
