.BestRate {
  display: flex;
  flex-direction: column;

  .BestRate__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 26px;

    @media (max-width: 1200px) {
      gap: 22px;
    }

    @media (max-width: 992px) {
      gap: 20px;
    }

    @media (max-width: 768px) {
      padding: 0 20px;
    }
  }

  .BestRate__product {
    width: calc(100% / 4 - 20px);
    margin-bottom: 40px !important;

    @media (max-width: 1200px) {
      width: calc(100% / 3 - 15px);
    }

    @media (max-width: 992px) {
      width: calc(100% / 2 - 10px);
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .BestRate__more {
    margin: auto !important;
  }
}
