.Footer {
  background-color: var(--main-bg-color);

  .Footer__Title {
    text-align: center;
    color: var(--main-text-color);
    font-size: 60px;
    font-weight: bold;

    @media (max-width: 992px) {
      font-size: 50px;
    }

    span {
      color: var(--main-color);
    }
  }

  .Footer__follow {
    a {
      font-size: 40px;
      
      path {
        color: var(--main-p-color);
        transition: 0.3s;
      }

      &:hover {
        path {
          color: var(--main-color);
        }
      }
    }
  }

  .Footer__links-link {
    color: var(--main-text-color);
    cursor: pointer;
    transition: 0.3s;
    font-size: 22px;
    

    &:hover {
      color: var(--main-color);
    }
  }
}
