.Search {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100dvh;
  background-color: var(--main-color2);
  padding: 70px 10px;
  z-index: 1000;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }

  .Search__close-btn {
    font-size: 20px;
    width: 30px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .Search__checkBox {
    text-align: center;

    label {
      font-size: 18px;
      padding: 5px 10px;
      margin: 10px 0;

      &.checked {
        background-color: var(--main-bg-color);
        color: var(--main-color);
      }

      input {
        display: none;
      }
    }
  }

  .Search__container {
    display: flex;
    flex-direction: column;
  }

  .Search__input {
    padding: 10px;
    font-size: 24px;
    border: 2px solid var(--main-color);
    outline: none;
    background-color: var(--main-bg-color);

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  .Search__result {
    overflow-y: auto;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .Search__item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--main-bg-color);
    padding: 10px;
    transition: 0.3s;
    
    img {
      width: 100px;
    }
    
    h3 {
      color: var(--main-text-color);
      transition: 0.3s;
    }

    &:hover {
      background-color: var(--main-color);

      h3 {
        color: white;
      }
    }

    @media (max-width: 768px) {
      img {
        width: 70px;
      }

      h3 {
        font-size: 18px;
      }
    }
  }
}
