.Banner {
  position: relative;
  height: 400px;

  .Banner__content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h1 {
    color: white;
    margin: 20px 0 40px;

    span {
      color: var(--main-color);
    }
  }
}
